// Required CSS custom properties:
// For primary buttons:
//   --clr-accent
//   --clr-accent-hover
//   --clr-accent-contrast
// For secondary buttons:
//   --clr-secondary
//   --clr-secondary-hover
//   --clr-secondary-contrast

:host {
  display: block;

  --btn-background-color: var(--clr-secondary);
  --btn-background-hover-color: var(--clr-secondary-hover);
  --btn-text-color: var(--clr-secondary-contrast);
}

a.ah-button {
  display: block;
  text-align: center;

  text-decoration: none;
  font-weight: normal;

  padding: 0.2em 0.6em;
  border-radius: 0.2em;

  background: var(--btn-background-color);
  color: var(--btn-text-color);

  transition: background 0.2s ease-in-out;

  &:not(:disabled) {
    &:hover,
    &:active,
    &:focus {
      --btn-background-color: var(--btn-background-hover-color);

      cursor: pointer;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &:disabled {
    cursor: default;
  }

  &--primary {
    --btn-background-color: var(--clr-accent);
    --btn-background-hover-color: var(--clr-accent-hover);
    --btn-text-color: var(--clr-accent-contrast);
    --btn-text-hover-color: var(--clr-accent-contrast);

    border: none;
  }
}
