:host {
  display: block;
  
  --btn-background-color: transparent;
  --btn-background-hover-color: transparent;
  --btn-border-color: var(--clr-btn);
  --btn-border-hover-color: var(--clr-btn-hover);
  --btn-text-color: var(--clr-btn-text);
  --btn-text-hover-color: var(--clr-btn-text-hover);

}

a.ah-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  display: block;
  text-align: center;

  text-decoration: none;
  font-weight: normal;

  padding: 0.2em 0.6em;

  border: 1px solid var(--btn-border-color);

  background: var(--btn-background-color);
  color: var(--btn-text-color);

  &:not(:disabled) {
    &:hover,
    &:active,
    &:focus {
      --btn-background-color: var(--btn-background-hover-color);
      --btn-border-color: var(--btn-border-hover-color);
      --btn-text-color: var(--btn-text-hover-color);

      cursor: pointer;
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &:disabled {
    --clr-btn: var(--clr-btn-disabled);
    --clr-btn-text: var(--clr-btn-text-disabled);

    cursor: default;
  }

  &--primary {
    --btn-background-color: var(--clr-btn);
    --btn-background-hover-color: var(--clr-btn-hover);
    --btn-text-color: var(--clr-btn-text-primary);
    --btn-text-hover-color: var(--clr-btn-text-primary-hover);

    border: none;
  }

  &--borderless {
    border: none;
  }
}

.ah-btn-group {
  display: flex;
  gap: 0.5em;

  &--right {
    justify-content: flex-end;
  }
}
